
ul {
	list-style-type: none;
}

.addForm {
	margin:0px 10px 0px 10px;
}

.category.list-group {
	margin-bottom:-2px;
}

.category .name {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	z-index: 999;
	letter-spacing: 0.2em;
	font-size: 1.2em;
}

.list-group-item {
	/* Override bootstrap's relative positioning*/
	position: static !important;
}

/* The message area in "add item" form */

.messageArea .alert {
	margin-bottom: -5px;
	padding: 5px;
}
.messageArea .close {
	margin-top: -20px;
	margin-right: 10px;
}
.messageArea .buttons { /* question buttons */
	text-align:right;
}
.messageArea .message { /* question message */
	overflow: hidden;
}

/* Override ugly twitter typeahead text boxes */
.tt-input {
	border: 1px #ABADB3 solid;
}